.master {
    border-radius: 0;
}

.nav-header {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.with-border {
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
}


.els-container:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.els-container {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin-left: 0;
    margin-top: 10px;
    padding: 0px;
    position: relative;
    word-wrap: break-word;
}

.els-container {
    min-height: 50px;
    margin-bottom: 15px;
}

.work-space:after {
    content: "Page";
}
.work-space {
    padding-top: 15px;
}

.row-container:after {
    content: "Row";
}

.column-container:after  {
    content:"Column";
}

.column-container {
    min-height: 100px;
    padding-top: 15px;
}

.options {
    padding-right: 0px;
}

.dropZone {
    min-height: 15px;
}

.first-column-dropZone {
    margin-top: 10px;
    min-height: 50px;
}

.drop-area {
    border: 1px dotted black;
    height: 50px;
}